<div class="panel panel-default">

	<div class="panel-heading">
		<a class="btn btn-primary btn-xs" ng-href="{{path}}/create{{filter}}" ng-show="actions.add">
			<span class="glyphicon glyphicon-plus"></span>
			<span class="hidden-xs"> {{actions.add.label}}</span>
		</a>
	</div>

	<table class="table table-striped table-condensed" ng-show="items">
		<thead>
		<tr>
			<th ng-repeat="header in headers" ng-if="header != 'Actions'">{{header}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in items">

			<td ng-repeat="field in fields">
                    <span ng-switch="types[field].value">

                        <span ng-switch-when="days" days-render="{{item[field]}}"></span>

                        <span ng-switch-when="date">{{item[field] | date:'yyyy-MM-dd'}}</span>

                        <span ng-switch-when="time">{{item[field] | date:'HH:mm'}}</span>

                        <span ng-switch-when="select">{{types[field].options[item[field]]}}</span>

                        <span ng-switch-default>{{item[field]}}</span>
                    </span>
			</td>
		</tr>
		</tbody>
	</table>

</div>